body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue",
  "Helvetica", "Arial", sans-serif;
}
 
   /* Navbar */
.navbar {
  display: flex;
  flex-direction: row;
  background-color: #272729;
  align-items: center;
  justify-content: space-evenly;
  padding: 0% 15%;
  height: 44px;
}

.navbar-link {
  color: #cecece;
  padding: 0px 8px;
  cursor: pointer;
  font-size: 12;
  line-height: 1.23536;
  font-weight: 400;
  letter-spacing: -0.022em;
}

.navbar-link:hover {
  color: #ffffff;
}

.navbar-button {
  padding: 0px 10px;
  cursor: pointer;
  width: 14px;
}

  /* Banner unicef */
.banner-unicef {
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
  background-color: #f3f3f3;
}

.unicef-img {
  width: 122px;
  height: 32px;
}
.unicef-donar {
  justify-content: center;
  color:#06c;
  font-size: 14;
  margin-left: 14px;
  text-decoration: none;
}
 /* Macbook air */
.Macbook-air {
 background-color: #fbfbfb;
 background: url(../Images/MacBook.png);
 background-repeat: no-repeat;
 background-position: 50%;
 background-size: 2600px 500px;
 height: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: flex-start;
 padding-left: 1vw;
 margin: 0;
}
.h2{
  font-size: xx-large;
  display: inline-flex;
  align-content: space-between;
  flex-direction: column;
  align-items: center;
  padding-left: 20vw;
  line-height:0vw;
}
.text-macbook.air{
  width: 50%;
  margin: 1.5vw;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.links-contenido{
  display: flex;
  flex-direction: row;
  gap: 1vw;
  font-size: 17px;
  margin-top:1.5vw;
  color: #06c;
  text-decoration: none;
  text-align: center;
}
/* Apple 13 */
.iPhone-13{
display: flex;
align-items: center;
justify-content: center;
text-align: center;
line-height: 1.5vw;

}
.h2-iPhone{
  font-size:45px;

}
h3{
  font-size:x-large;
}
.links-iphone{
  display: flex;
  gap: 1vw;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 17px;
  text-align: center;
  
}
.Img-iPhone-13{
  justify-content: center;
  padding: auto;
}
 /* Footer */
footer {
  display: flex;
  flex-direction: column;
  font-size: small;
  margin: 20%;
}
.Copyright{
  display: flex;
  flex-direction: row;
  gap: 0.5vw;
  align-items: center;
  text-decoration: none;
  
}